#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/{
    keymap{
        compatible = "zmk,keymap";

        default_layer { 
            bindings = <
                &kp F   &kp S   &kp T   &kp P   &kp H   &kp *   &kp *   &kp F   &kp P   &kp L   &kp T   &kp D
                &kp F   &kp S   &kp K   &kp W   &kp R   &kp *   &kp *   &kp R   &kp B   &kp G   &kp S   &kp Z
                                        &kp Q   &kp A   &kp O   &kp E   &kp U   &kp Q
            >;
        };
    };
};