#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { 
            bindings = <
                &kp F   &kp Q   &kp W   &kp E       &kp R   &kp ASTRK   &kp ASTRK   &kp U   &kp I   &kp O   &kp P       &kp []
                &kp F   &kp A   &kp S   &kp D       &kp F   &kp ASTRK   &kp ASTRK   &kp J   &kp K   &kp L   &kp SEMI    &kp APOS
                                        &kp HASH    &kp C   &kp V       &kp N       &kp M   &kp HASH
            >;
        };
    };
};